<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>

    <title>Home</title>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="container">
    <div class="image-container">
        <img src="/images/zdjecie7.jpg" alt="Picture">
    </div>
    <div class="text-container">
        <h1>Witaj na naszej stronie!</h1>
        <p>Tutaj znajdziesz wszystkie informacje, które Cię interesują. Dowiedz się więcej o naszych usługach i
            produkcie. Zapraszamy do eksploracji!</p>
    </div>
</div>
</body>
</html>