<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/signup_login.css}"/>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="center-container">
    <div class="register-success" th:if="${param.success}">
        You successfully registered. Please use your credentials to log in.
    </div>
    <div class="login-fail" th:if="${param.error}">
        Login or password incorrect.
    </div>
    <form id="loginForm" class="signup-form" th:action="@{/login}" method="post">
        <h2>Login</h2>
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <input class="submit-button" type="submit" value="Login">
        </div>
    </form>
</div>
</body>
</html>