<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/signup_login.css}"/>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="center-container">
    <div class="register-success" th:if="${param.success}" th:text="#{login.message.success}"></div>
    <div class="login-fail" th:if="${param.error}" th:text="#{login.message.fail}"></div>
    <form class="signup-form" id="loginForm" method="post" th:action="@{/login}">
        <h2 class="login-head" th:text="#{login.head}">Login</h2>
        <div class="input-group">
            <label for="username" th:text="#{login.username}"></label>
            <input id="username" name="username" required type="text">
        </div>
        <div class="input-group">
            <label for="password" th:text="#{login.password}"></label>
            <input id="password" name="password" required type="password">
        </div>
        <div class="input-group">
            <input class="submit-button" th:value="#{login.login-button}" type="submit">
        </div>
    </form>
</div>
</body>
</html>