<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signup_login.css}"/>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="center-container">
    <div class="register-fail" th:if="${param.fail}" th:text="#{signup.message.fail}">
    </div>
    <form class="signup-form" id="signUpForm" method="post" th:action="@{/signup}" th:object="${user}">
        <h2 th:text="#{signup.signup}"></h2>
        <div class="input-group">
            <label for="name" th:text="#{signup.name}"></label>
            <input id="name" name="name" required type="text">
        </div>
        <div class="input-group">
            <label for="surname" th:text="#{signup.surname}"></label>
            <input id="surname" name="surname" required type="text">
        </div>
        <div class="input-group">
            <label for="username" th:text="#{signup.email}"></label>
            <input id="username" name="username" required type="text">
        </div>
        <div class="input-group">
            <label for="password" th:text="#{signup.password}"></label>
            <input id="password" name="password" required type="password">
        </div>
        <div class="input-group">
            <input class="submit-button" th:value="#{signup.sign-up-button}" type="submit">
        </div>
    </form>
</div>
</body>
</html>