<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}"/>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div th:if="${param.fail}">
    Can't register, username taken or wrong name.
</div>
<div class="signup-container">
    <form id="signUpForm" class="signup-form" th:action="@{/signup}" method="post" th:object="${user}">
        <h2>Sign Up</h2>
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <input class="submit-button" type="submit" value="SignUp">
        </div>
    </form>
</div>
</body>
</html>