.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(50vh);
    margin: 0 auto;
}

.verse-details-body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.verse-container {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poem-text {
    padding: 20px;
    word-wrap: break-word;
}

.verse-text-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.verse-text-container h1 {
    font-size: 24px;
    color: #333;
}

.poem-box {
    background-color: #f9f9f9;
    padding: 20px;
    font-style: italic;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.comments-container {
    width: 100%;
    margin-top: 30px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.author-credentials {
    float: right;
    display: flex;
}

.author-a {
    color: #333;
    margin-right: 5px;
    text-decoration: none
}

.author-a:last-child {
    margin-right: 0;
}

.action-buttons-container {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.action-button {
    width: 150px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #363062;
    border: none;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.like-button {
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
}

.like-button-liked {
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background: #666666;
    pointer-events: none;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.action-button:hover {
    background-color: #564e96;
    transform: scale(1.2);
    cursor: pointer;
}

.edit-result-fail {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}