<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/shared/header.css}"/>
    <title></title>
</head>
<header>
    <div class="header-container" th:fragment="header">
        <div class="left-nav">
            <a href="/home">
                <h1 class="head-nav">Poem Blog</h1>
            </a>
            <a sec:authorize="isAuthenticated()"
               th:href="@{/verses/{userId}(userId=${#authorization.getAuthentication().getPrincipal().getId()})}">
                <h1 class="poems-nav" th:text="#{header.your-verse}"></h1>
            </a>
        </div>
        <div class="lang-icons">
            <a href="#" id="changeLangEng">
                <img alt="ENG" class="flag-icon" th:src="@{/assets/eng-icon.png}">
            </a>
            <a href="#" id="changeLangPl">
                <img alt="PL" class="flag-icon" th:src="@{/assets/polish-icon.png}">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li sec:authorize="!isAuthenticated()"><a href="/login" th:text="#{header.login}"></a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/signup" th:text="#{header.register}"></a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout" th:text="#{header.logout}"></a></li>
            </ul>
        </nav>
    </div>
    <script th:src="@{/js/header.js}"></script>

</header>
</html>