<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/shared/header.css}"/>
    <title></title>
</head>
<header>
    <div th:fragment="header" class="header-container">
        <a href="/home">
            <h1 class="logo">Poem Blog</h1>
        </a>
        <nav>
            <ul class="nav-links">
                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/signup">Sign Up</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
</html>