<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/verse/verseTile.css}">
    <link rel="stylesheet" th:href="@{/css/verse/allVerses.css}">
    <link rel="stylesheet" th:href="@{/css/verse/popups.css}">

    <title>All Verses</title>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="verses-tile-row">
    <div id="verseList" class="verses-tile-container" th:each="verse: ${verses}">
        <div th:replace="~{verse/verseTile :: verse(${verse})}"></div>
    </div>
</div>

<div sec:authorize="isAuthenticated()" id="popupForm" class="popup-overlay"
     th:replace="~{verse/addEditVersePopup :: addEditVersePopup(@{/rest/api/verse(userId=${#authorization.getAuthentication().getPrincipal().getId()})}, 'post')}">
</div>
<div sec:authorize="isAuthenticated()"1
     id="add-verse-button"
     class="add-button-container">
    <a class="add-button">+</a>
</div>
<script th:src="@{/js/verse/allVerses.js}"></script>
<script th:src="@{/js/verse/popups.js}"></script>

</body>
</html>