<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Verse</title>
</head>
<body>
<div th:fragment="verse(poem)"></div>
<div class="popup-overlay" id="deletePopupForm" th:fragment="verse(poem)">
    <div class="popup-content">
        <h3 class="delete-header" th:text="#{delete-verse.popup.confirm-message} + ' ' + ${poem.title}"></h3>
        <div class="delete-popup-buttons">
            <button class="custom-button user-delete-control-button" id="confirmDeleteButton"
                    th:data-user-id="${poem.user.id}" th:data-verse-id="${poem.id}" th:text="#{delete-verse.popup.confirm-button}"
                    type="button">
            </button>
            <button class="custom-button user-delete-control-button" id="closeDeletePopupButton" th:text="#{delete-verse.popup.reject-button}"
                    type="button">Cancel
            </button>
        </div>
    </div>
</div>
</body>
</html>