<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="verse(poem)">
    <a th:href="@{/verse/{id}(id=${poem.id})}" class="tile">
        <div class="image-container">
            <img th:if="${poem.imageUrl != null and !poem.imageUrl.isEmpty()}" th:src="${'/'+poem.imageUrl}"
                 alt="Obrazek do wiersza"/>
            <img th:if="${poem.imageUrl == null or poem.imageUrl.isEmpty()}" th:src="${'images/image_not_found.jpg'}"
                 alt="Obrazek do wiersza"/>
        </div>
        <div class="verse-text-container">
            <h1 class="verse-title" th:text="${poem.title}"></h1>
            <p class="verse-description" th:utext="${poem.shortDescription}"></p>
            <div class="author-credentials">
                <p class="author-p" th:text="${poem.user.getName()}"></p>
                <p class="author-p" th:text="${poem.user.getSurname()}"></p>
            </div>
        </div>
    </a>
</div>
</body>
</html>