<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="verse(poem)">
    <a th:href="@{/verse/{id}(id=${poem.id})}">
        <div class="tile">
            <div class="image-container">
                <img th:src="${poem.imageUrl}" alt="Obrazek do wiersza"/>
            </div>
            <div class="text-container">
                <h1 class="title" th:text="${poem.title}"></h1>
                <p class="poem" th:utext="${poem.shortDescription}"></p>
            </div>
        </div>
    </a>
</div>
</body>
</html>