<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/verse/verseDetails.css}">
    <link rel="stylesheet" th:href="@{/css/verse/popups.css}">

    <meta charset="UTF-8">
    <title th:text="${verse.title}"></title>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="content-wrapper">
    <div class="verse-details-body">
        <div class="edit-result-fail" th:if="${param.fail}">
            Can't edit poem.
        </div>
        <div class="verse-container">
            <div class="verse-text-container">
                <h1 th:text="${verse.title}"></h1>
                <div class="poem-box">
                    <div class="poem-text">
                        <p th:utext="${verse.text}"></p>
                    </div>
                    <div class="author-credentials">
                        <a href="#" class="author-a" th:text="${verse.user.getName()}"></a>
                        <a href="#" class="author-a" th:text="${verse.user.getSurname()}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div sec:authorize="isAuthenticated()" id="editPopupForm" class="popup-overlay"
     th:replace="~{verse/addEditVersePopup :: addEditVersePopup(@{/rest/api/verse/edit(userId=${#authorization.getAuthentication().getPrincipal().getId()}, verseId=${verse.getId()})}, 'PUT')}"></div>
<div id="deletePopupForm" class="popup-overlay" th:replace="~{verse/deleteVersePopup :: verse(${verse})}"></div>


<div sec:authorize="isAuthenticated()" th:if="${verse.user.id == #authentication.getPrincipal().getId()}"
     class="action-buttons-container">
    <button class="edit-verse-button" id="delete-verse-button">Delete Verse</button>
    <button class="edit-verse-button" id="edit-verse-button">Edit Verse</button>
</div>
<script th:src="@{/js/verse/verseDetails.js}"></script>
<script th:src="@{/js/verse/popups.js}"></script>
</body>
</html>