<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/verse/verseDetails.css}">
    <link rel="stylesheet" th:href="@{/css/verse/popups.css}">

    <meta charset="UTF-8">
    <title th:text="${verse.title}"></title>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="content-wrapper">
    <div class="verse-details-body">
        <div class="verse-container">
            <div class="text-container">
                <h1 th:text="${verse.title}"></h1>
                <div class="poem-box">
                    <div class="poem-text">
                        <p th:utext="${verse.text}"></p>
                    </div>
                    <div class="author-credentials">
                        <a href="#" class="author-a" th:text="${verse.user.getName()}"></a>
                        <a href="#" class="author-a" th:text="${verse.user.getSurname()}"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="popupForm" class="popup-overlay" th:replace="~{verse/deleteVersePopup :: verse(${verse})}">
</div>

<div class="action-buttons-container">
    <div th:if="${verse.user.id == #authentication.getPrincipal().getId()}" class="head-container">
        <button class="delete-verse-button" id="delete-verse-button">Delete Verse</button>
    </div>
</div>
<script th:src="@{/js/verse/verseDetails.js}"></script>
<script th:src="@{/js/verse/popups.js}"></script>

</body>
</html>