<div th:fragment="verse(poem)">
    <a th:href="@{/verse/{id}(id=${poem.id})}" class="tile">
        <div class="image-container">
            <img th:src="@{'/'+${poem.imageUrl}}" alt="Poem image"/>
        </div>
        <div class="verse-info-container">
            <h1 th:text="${poem.title}"></h1>
            <p class="verse-tile-description" th:utext="${poem.shortDescription}"></p>
            <div class="author-credentials">
                <p class="author-p" th:text="${poem.user.getName() + ' ' + poem.user.getSurname()}"></p>
            </div>
            <div class="verse-statistic">
                <p class="like-com-p">
                    <img alt="Like" class="icon" th:src="@{/assets/like_img.png}" th:text="${poem.likes}">
                </p>
                <p class="like-com-p">
                    <img alt="Like" class="icon" th:src="@{/assets/comment_icon.png}" th:text="${poem.commentsSize}">
                </p>
                <p class="views-p" th:text="#{verse-tile.views} + ' ' + ${poem.views}"></p>
            </div>
        </div>
    </a>
</div>
