<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/verse/verseDetails.css}">
    <link rel="stylesheet" th:href="@{/css/verse/verseStats.css}">
    <link rel="stylesheet" th:href="@{/css/verse/popups.css}">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <title th:text="${verse.title}"></title>
</head>
<body>
<div th:replace="~{shared/header}"></div>
<div class="content-wrapper">
    <div class="verse-details-body">
        <div class="edit-result-fail" th:if="${param.fail}" th:text="#{verse.details.edit-fail-message}">
        </div>
        <div class="verse-container">
            <div class="verse-text-container">
                <h1 th:text="${verse.title}"></h1>
                <div class="poem-box">
                    <div class="poem-text">
                        <p th:utext="${verse.text}"></p>
                    </div>
                    <div class="author-credentials">
                        <a class="author-a" href="#" th:text="${verse.user.getName()}"></a>
                        <a class="author-a" href="#" th:text="${verse.user.getSurname()}"></a>
                    </div>
                </div>
                <div class="actions-container">
                    <button id='like-button' th:attr="data-is-liked=${isLikedByUser}, verse-id=${verse.getId()}"
                            class="action-button like-button">
                    </button>
                    <div class="verse-statistic">
                        <p id="likes-paragraph" class="like-com-p" style="margin-right: 15px"
                           th:text="#{verse.details.likes} + ' ' + ${verse.likes}"></p>
                        <p class="like-com-p" th:text="#{verse.details.comments} + ' ' + ${verse.commentsSize}"></p>
                        <p class="views-p" th:text="#{verse-tile.views} + ' ' + ${verse.views}"></p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="popup-overlay" id="editPopupForm" sec:authorize="isAuthenticated()"
     th:replace="~{verse/addEditVersePopup :: addEditVersePopup(@{/rest/api/verse/edit(userId=${#authorization.getAuthentication().getPrincipal().getId()}, verseId=${verse.getId()})}, 'PUT')}"></div>
<div class="popup-overlay" id="deletePopupForm" th:replace="~{verse/deleteVersePopup :: verse(${verse})}"></div>


<div class="action-buttons-container" sec:authorize="isAuthenticated()"
     th:if="${verse.user.id == #authentication.getPrincipal().getId()}">
    <button class="action-button" id="delete-verse-button" th:text="#{verse.details.delete-button}">Delete Verse
    </button>
    <button class="action-button" id="edit-verse-button" th:text="#{verse.details.edit-button}">Edit Verse</button>
</div>
<script th:src="@{/js/verse/verseDetails.js}"></script>
<script th:src="@{/js/verse/popups.js}"></script>
</body>
</html>